<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='produtos.css') }}">
    <title>Livros</title>
</head>
<body>
    <h1>Livros Cadastrados</h1>

    <table border="1">
        <tr>
            <th>Título</th>
            <th>ISBN</th>
            <th>Ano de publicação</th>
            <th>Quantidade disponivel</th>
            <th>Resumo</th>
        </tr>
        {% for livro in livros %}
        <tr>
            <td>{{ livro.Titulo }}</td>
            <td>{{ livro.ISBN }}</td>
            <td>{{ livro.Ano_publicacao }}</td>
            <td>{{ livro.Quantidade_disponivel }}</td>
            <td>{{ livro.Resumo }}</td>
            <td>
                <a href="{{ url_for('editar_livro', id=livro.id) }}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <p><a href="{{ url_for('criar_livro') }}">Criar novo livro</a></p>
    <p><a href="{{ url_for('excluir_livro') }}">Excluir livro</a></p>
</body>
</html>



 